@page "/"

<div class="row">
    <div class="col-6">
        <TodoApplication.Pages.Components.ToDo HeaderName="Daily Task">

        </TodoApplication.Pages.Components.ToDo>

    </div>
    <div class="col-6">
        <TodoApplication.Pages.Components.ToDo HeaderName="Monthly Task">

        </TodoApplication.Pages.Components.ToDo>
    </div>
</div>
